body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}

.container,
.title-container,
.list-container,
.team-container,
.portfolio-container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.title {
  background-color: #2e2f42;
  height: 600px;
  justify-items: center;
  padding: 188px 0;
}

.titel-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
}

.page-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  cursor: pointer;
}

.page-button {
  box-sizing: border-box;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  margin-top: 48px;
  border: 0;
}

.list-container {
  display: flex;
  margin-top: 120px;
  padding-bottom: 120px;
}

.list-block {
  display: none;
}

.list-board,
.team-list {
  display: flex;
  justify-content: space-between;
}

.list-item,
.team-item {
  box-sizing: border-box;
  flex-basis: calc((100% - 72px) / 4);
}

.team-item {
  width: 264px;
  height: 380px;
}

.page-button:hover,
.page-button:focus {
  background-color: #404bbf;
}

.list-subtitel,
.team-subtitel,
.portfolio-subtitel {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team {
  background-color: #f4f4fd;
  height: 732px;
}

.team-block-margin {
  box-sizing: content-box;
  padding-top: 120px;
  margin-bottom: 72px;
}

.list-text,
.team-text,
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-top: 8px;
}

.team-block,
.portfolio-block {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.portfolio-container {
  height: 1000px;
  margin-top: 120px;
}

.team-list .team-item {
  background-color: #fff;
}

.portfolio-item {
  display: block;
  width: 360px;
  height: 420px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio-subtitel {
  margin-top: 32px;
}

.portfolio-blok-board {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.portfolio-mardgin {
  padding-bottom: 72px;
}

.footer-container {
  display: flex;
  height: 312px;
  flex-direction: column;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  box-sizing: content-box;
  width: 264px;
  height: 72px;
}

.page-footer {
  background-color: #2e2f42;
}

.footer-logo {
  margin-top: 100px;
  margin-bottom: 16px;
}

.footer-logo .logo-part {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
